<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <form action="/edit/<%= user.login %>" class="col-6 mx-auto my-5 p-4 border rounded shadow" method="post">
        <button class="close" href="">X</button>
        <h1 class="text-center mb-4"><%= message %></h1>

        <div class="mb-3">
            <label class="form-label" for="name">Nome</label>
            <input required class="form-control" type="text" id="name" name="name" value="<%= user.name %>" placeholder="Digite o nome">
        </div>

        <div class="mb-3">
            <label class="form-label" for="login">Usuário</label>
            <input required class="form-control" type="text" id="login" name="newLogin" value="<%= user.login %>" placeholder="Digite o login">
        </div>

        <div class="d-flex justify-content-between">
            <button class="btn btn-primary" type="submit">Salvar Informações</button>
            <a class="btn btn-secondary" href="/">Cadastrar Usuários</a>
        </div>
    </form>

    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>