<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

</head>

<body>
    <form action="/edit/<%= user.login %>" class="col-6 mx-auto" method="post">
        <h1><%= message %></h1>
        <label class="form-label" for="name">Nome</label>
        <input required class="form-control" type="text" id="name" name="name" value="<%= user.name %>">
        <br>
        <label class="form-label" for="login">Usuário</label>
        <input required class="form-control" type="text" id="login" name="newLogin" value="<%= user.login %>">
        <br>
        <button class="btn btn-primary" type="submit">Salvar informações</button>
        <br>
        <a class="btn btn-primary" href="/">Cadastrar Usuarios</a>
        <br>
        <a class="btn btn-primary" href="http://localhost:3000/users">usuarios</a>

    </form>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>